<div class="row">
  <div class="col-md-12">
    <div class="card">

      <!-- card header start -->
      <div class="card-header">
        <h5 class="card-title">Add Interview History</h5>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <!-- card-header end -->

      <!-- card body start -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">

              <!-- form start -->
              <form role="form">

                <!-- card body start -->
                <div class="card-body">
                  <fieldset>
                    <legend>Add Interview Details</legend>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="name">Job Title</label>
                          <select class="form-control">
                            <option>QA</option>
                            <option>Software Developer</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="name">Job Reference Number</label>
                          <input type="text" class="form-control" name="name" id="name" readonly>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add External Applicants :</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add Internal Applicants :</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add Rejected candidates :</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add Selected candidates :</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add Candidates Reached Call:</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add Candidates Not Reached Call :</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  &nbsp;
                  <fieldset>
                    <legend>Interview Panel Details</legend>
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="form-group">
                          <!-- <label for="position"> 	Age of Retirement </label> -->
                          <label for="digit-salry">Interview Panale Number:</label>
                          <input type="text" class="form-control" name="name" id="name">
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="digit-salry">Date:</label> &nbsp;
                          <input type="date" class="form-control" name="given-date" id="given-date" placeholder="yyyy-mm-dd">
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="position"> Strating Time:</label>
                          <input type="time" class="form-control" name="position" id="position">
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="position"> End Time:</label>
                          <input type="time" class="form-control" name="position" id="position">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add Interviewers :</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add candidates list per panel:</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add Attended Candidate for Interview:</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>
                    </div>
                    &nbsp;
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Add Absentees Candidate for Interview:</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">
                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Rejected candidate from interview :</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">

                        </div>
                      </div>

                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Final Selected Candidates:</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">ADD</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">

                        </div>
                      </div>
                    </div>
                      
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="name">Interview score cards :</label>
                          &nbsp;
                          <label for="file-upload" class="custom-file-upload btn-info">
                            <i class="fa fa-cloud-upload"></i>Upload</label>
                          <input type="file" class="form-control" name="awards-citations" id="awards-citations"
                            placeholder="Awards & Citations">

                        </div>
                      </div>
                    </div>
                  </fieldset>

                </div>
                <!-- card body end -->

                <div class="card-footer">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal"
                    [routerLink]="['/agrementletter']">ADD</button>

                  &nbsp;
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">Reset</button>
                </div>
              </form>
              <!-- form end -->


            </div>
          </div>
        </div>

      </div>
      <!-- card body end -->

    </div>
  </div>
</div>